// copy this file to config.js, and change the values below to real ones

// manager - redis login details (required)
// live - default values for live config values (required)

module.exports = {

  development: {
    port: 3000,
    log: 1, // 1: error/warn, 2: info, 3: debug

    // guards dashboard and full snapshot data
    admin: "admin",

    manager: {
      port: 6379,
      host: "localhost",
      password: null
    },

    // will be overridden by values in redis
    live: {
      chat: "true",
      death_interval: 60000,
      heartbeat_interval: 35000,
      mouse_rate: 20,
      ghost_duration: 2000,
      ghost_max: 10
    }
  },

  production: {
    port: 3000,
    log: 1, // 1: error/warn, 2: info, 3: debug

    // change this in production
    admin: "admin",

    manager: {
      port: 6379,
      host: "localhost",
      password: null
    },

    // will be overridden by values in redis
    live: {
      chat: "true",
      death_interval: 60000,
      heartbeat_interval: 35000, // heroku needs activity every < 55s
      mouse_rate: 20,
      ghost_duration: 2000,
      ghost_max: 10
    }
  }
}