<!doctype html>
<html lang="en">
<head>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<style>
  .board {
    border: 1px solid black;
  }
</style>

</head>
<body>

<table class="boards">

<tr>
<td class="board"></td>
</tr>

</table>


<script type="text/javascript">

var width = 480;
var height = 320;

var snapshot = [];
var boards = [];

// single server-snapshot into elem
var createBoard = function(snapshot) {
  var elem = document.createElement("td");
  elem.className = "board";
  return elem;
};

// given an array of board elements, put them into a table
var assembleBoards = function(boards) {


}

$(function() {

  $.get("/snapshot", {
    admin: "<%= config.admin %>"
  }, function(data) {
    boards = [];
    snapshots = [];

    for (var server in data) {
      var snapshot = {
        server: server,
        flags: JSON.parse(data[server])
      };
      boards.append(createBoard(snapshot))
    }
  });

});

</script>

</body>
</html>