<!doctype html>
<html>
<head>
  <% if (!req.param("no_refresh")) { %>
    <meta http-equiv="refresh" content="5">
  <% } %>
  <title>The North Pole</title>
  <style>
    html {font-family: monospace; font-size: 125%;}
    h1 {font-size: 120%;}
    h2 {font-size: 100%;}
    td {padding-right: 20px; padding-top: 10px; vertical-align: top;}
  </style>
</head>
<body>

<% if (servers == null) { %>

  <h2>Error connecting to Redis.</h2>

<% } else { %>

  <% var userCount = 0; %>
  <% var serverCount = 0; %>
  <% for (server in servers) { %>
    <% serverCount += 1 %>
    <% userCount += servers[server].length %>
  <% } %>

  <h1><%= serverCount %> Drones, <%= userCount %> Active Users</h1>

  <% if (servers.length == 0) { %>

    <h2>No users right now.</h2>

  <% } else { %>

    <% for(server in servers) { %>
      [<%= server %>]
      (<%= servers[server].length %>)

      <% var stats = system[server]; %>
      <% if (stats) { %>
        [<%= [stats.loadavg0, stats.loadavg1, stats.loadavg2].join(", ") %>] (<%= stats.rss %>M)
      <% } %>
      <%= server == serverId ? "*" : "" %>
      <br/>
    <% } %>

    <br/>
    <% var mod = 1; %>
    <table>
    <tr>

    <% for(server in servers) { %>
      <td>

      [<%= server.slice(0,6) %>]
      (<%= servers[server].length %>)

      <% var stats = system[server]; %>
      <% if (stats) { %>
        [<%= [stats.loadavg0, stats.loadavg1, stats.loadavg2].join(", ") %>] (<%= stats.rss %>M)
      <% } %>
      <%= server == serverId ? "*" : "" %>

      <% for (i in servers[server]) { %>
        <% var user = servers[server][i]; %>

        <br/><%= dateFormat(user.time, "HH:MM") %> <%= user.country %> <%= user.transport %> <%= user.browser %>-<%= user.version %>-<%= user.os %>
      <% } %>
      </td>
      <% if (mod % 3 == 0) { %>
        </tr><tr>
      <% } %>
      <% mod += 1 %>
    <% } %>

  <% } %>

<% } %>

</body>
</html>