<!doctype html>
<html>
<head>
  <meta http-equiv="refresh" content="5">
  <title>The North Pole</title>
  <style>
    html {font-family: monospace; font-size: 125%;}
    h1 {font-size: 120%;}
    h2 {font-size: 100%;}
  </style>
</head>
<body>

<h1>Active Users</h1>

<% if (servers == null) { %>
  
  <h2>Error connecting to Redis manager.</h2>

<% } else if (servers.length == 0) { %>
  
  <h2>No users right now.</h2>

<% } else { %>

  <% for(server in servers) { %>
    <p>
    [<%= server %>]
    (<%= servers[server].length %>)
    <%= server == serverId ? "*" : "" %>

    <% var stats = system[server]; %>
    <% if (stats) { %>
      <%= stats.freemem %>M/<%= stats.totalmem %>M [<%= [stats.loadavg0, stats.loadavg1, stats.loadavg2].join(", ") %>] (rss: <%= stats.rss %>M)
    <% } %>

    <% for (i in servers[server]) { %>
      <% var user = servers[server][i]; %>

      <br/>&nbsp;&nbsp;<%= dateFormat(user.time, "HH:MM") %> (<%= user.country %>) <%= user.id.slice(0,6) %> [<%= user.transport %>][<%= user.browser %>-<%= user.version %>-<%= user.os %>]
    <% } %>
    </p>
  <% } %>

<% } %>

</body>
</html>